/* Select the image with a class of kitty-1 */
.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50px;
}

/* Select the image with an ID of kitty-2 */
#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
}

/* Select the image inside the element with an ID of basket (using descendant selector) */
#basket img {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 50px;
}

/* Select the image that is an adjacent sibling following immediately after the element with an ID of ball */
#ball + img {
  position: absolute;
  z-index: 4;
  top: 220px;
  left: 115px;
}

/* Select the image that has an alt attribute value matching "Kitty 5" (using attribute selector) */
img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 420px;
}
